#define MQTT_SERVER ""
#define MQTT_PORT 1883
#define MQTT_USER ""
#define MQTT_PSSWD ""

///////// BEELINE

#define GSM_APN "internet.beeline.ru"
#define GSM_GPRS_USER "beeline"
#define GSM_GPRS_PASS "beeline"
