#define MQTT_SERVER "dumskyhome.keenetic.name"
#define MQTT_PORT 1883
#define MQTT_USER "dumavla"
#define MQTT_PSSWD "S746em99"

///////// BEELINE

#define GSM_APN "internet.beeline.ru"
#define GSM_GPRS_USER "beeline"
#define GSM_GPRS_PASS "beeline"
